[submodule "submodules/SDL"]
	path = submodules/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "submodules/ImageMagick"]
	path = submodules/ImageMagick
	url = git@github.com:ImageMagick/ImageMagick.git